/*General Css*/
*{
  box-sizing: border-box;
}

body{
  margin: 0;
}
/*General Css ends*/

/*Navbar Css*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(232, 89%, 41%, 0.837);
}