/*General Css*/
*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

:root{
  --primary: hsla(232, 89%, 41%, 0.837);
}
/*General Css ends*/

/*Navbar Css*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  top: 0;
  left: 0;
  right: 0;
}